.go-back {
        background-image: linear-gradient(-180deg, #4d4dc1, #3021bb);
        border-radius: 2px;
        color: yellow;
        font-family: 'Pokemon Classic';
        height: 40px;
        width: 10rem;
        padding: 0 20px;
}