.card-img {
    height: 24rem;
    padding: 1rem;
    text-align: center;
}

.stamp {
    width:5rem;
    position: absolute;
    margin: 2rem;
    margin-top: 3rem;
    z-index: 10;
}

 .favorite-button {
    background-image: linear-gradient(-180deg, #4d4dc1, #3021bb);
    border-radius: 2px;
    color: yellow;
    font-family: 'Pokemon Classic';
    height: 40px;
    width: 10rem;
    padding: 0 20px;
}

button:hover {
    cursor: pointer;
    color:black
}