.navbar {
    margin:2rem;
    padding:2rem
}

.nav-header {
    display: flex;
    /* justify-content: space-around; */
}

.logo-and-favs-btn {
    display: flex;
}

.logo-img {
    height: 10rem;
    padding: 2rem;
}
.fav-img {
    height: 4rem;
    padding: 4rem;
}