* {
  /* border: 1px solid green; */
  margin: 0;
}

.main {
  text-align: center;
  font-family: Pokemon Classic;
  background-color: antiquewhite;
  height: 100vh;
  
}

.main-container {
  font-size: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.single-card-container {
  text-align: center;
  padding: 15px;
  max-width: 6rem;
}

.type {
  font-size: 0.5em;
}

