* {
  margin: 0;
  background-image: url(https://wallpaper-house.com/data/out/7/wallpaper2you_147653.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main {
  text-align: center;
  font-family: Pokemon Classic;
  background-color: antiquewhite;
  height: 100vh;
  
}

.main-container {
  font-size: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.type {
  font-size: 0.5em;
}